<%= simple_form_for [@surfcamp, @booking] do |f| %>
  <%= f.input :starts_at, placeholder: "Checkin date", class: "col-xs-6" %>
  <%= f.input :ends_at, placeholder: "Checkout date", class: "col-xs-6" %>
  <%= f.label "Price per Day: **TBD**" %>
  <%= f.submit "Book it!", class: "btn btn-danger btn-block" %>
<% end %>


<!-- <div class="booking_form">
    <form action="#" >
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="Check in" id="checkin">
          </div>
          <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="Check out">
          </div>
        </div>
      </div>
      <div class="form-group">
        <select name="" id="guests" class="form-control">
          <option value="dormirory">Dormitory</option>
          <option value="single bedroom">Private Room</option>
        </select>
      </div>
      <div class="form-group">
        <select name="" id="guests" class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <input type="submit" class="btn btn-danger" value="Book it" style="width: 100%">
    </form>
  </div> -->

