<%# simple_form_for [@surfcamp, @booking, @occupancy_] do |f| %>
  <%# f.input :starts_at, as: :string, placeholder: "02/09/2017", class: "col-xs-6", input_html: {class: 'datepicker'},label: "Check in" %>
  <%# f.input :ends_at, as: :string, placeholder: "12/09/2017", class: "col-xs-6", input_html: {class: 'datepicker'}, label: "Check out"  %>
  <%# f.label "Dormitory" %>
  <%# f.input :occupancy.pax_nb, placeholder: "1" %>
  <%# f.label "Private Room" %>
  <%# f.input :occupancy.pax_nb, placeholder: "1" %>
  <%# f.label "Price per Day: **TBD**" %>
  <%# f.submit "Book it!", class: "btn btn-danger btn-block" %>
<%# end %>

<% unless @surfcamp.discounts.blank? %>
  <div class="booking-promo">
    <% @pourcentage = ((1 - @surfcamp.discounts.first.discounted_price.to_f / @surfcamp.price_per_night_per_person.to_f) * 100).to_i %>
    <div class="booking-promo-percentage">
      <p><%= @pourcentage %>% OFF</p>
    </div>
    <div class="booking-promo-date">
      <p><%#= (@surfcamp.discounts.first.discount_ends_at.to_date - Date.today.to_date).to_i %> TODO</p>
    </div>
  </div>
<% end %>
<div class="booking-form">
  <div class="booking-input">
    <%= form_tag surfcamp_bookings_path(surfcamp), id: "booking-form-global" do %>
    <div class="row">
      <div class="col-xs-6 booking-form-start-date">
        <%= label_tag 'booking[starts_at]', 'Checkin' %>
        <div class="booking-form-start-date-input">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <%= text_field_tag 'booking[starts_at]', nil, id: "start_date", class: "datepicker", placeholder: "02/09/2017", style: "width: 100%" %>
          <% if errors[:starts_at] %>
           <div class= "form_error_message">
            <%= errors[:starts_at] %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6 booking-form-end-date">
        <%= label_tag 'booking[ends_at]', 'Checkout' %>
        <div class="booking-form-end-date-input">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <%= text_field_tag 'booking[ends_at]', nil, id: "end_date", class: "datepicker", placeholder: "10/09/2017", style: "width: 100%" %>
          <% if errors[:ends_at] %>
          <div class= "form_error_message">
            <%= errors[:ends_at] %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= label_tag 'booking[pax_nb]', 'Surfers' %>
    <div class="booking-form-pax-nb">
      <i class="fa fa-male" aria-hidden="true"></i>
      <%= number_field_tag 'booking[pax_nb]', '1', style: "width: 100%", id: "pax_nb", class: "form-control" %>
      <% if current_user.nil? %>
      <% else %>
      <%= hidden_field_tag 'booking[user_id]', current_user.id %>
      <% end %>
      <%= hidden_field_tag 'booking[status]', 'unpaid' %>
    </div>
    <hr>
    <div class="booking-form-total">
      <p>Total:</p>
      <p>125€</p>
    </div>
      <%= submit_tag "Book now", class: "btn btn-primary", style: "width: 100%" %>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(".datepicker").datepicker({
    format: 'dd/mm/yyyy',
    startDate: '-1d'
    });
  <% end %>
  <script>
    $('#start_date').datepicker()
      .on("input change", function (e) {
      var start_date = e.target.value;
      var split_date = start_date.split('/');
      var right_start_date = new Date(split_date[2],split_date[1]-1,split_date[0]);
      return right_start_date
    });

     $('#end_date').datepicker()
      .on("input change", function (e) {
      var end_date = e.target.value;
      var split_date = end_date.split('/');
      var right_end_date = new Date(split_date[2],split_date[1]-1,split_date[0]);
      return right_end_date
    });
      $(".datepicker").datepicker()
      .on("input change", function (e) {
      console.log(right_end_date)
      });
    // let dates = []
    // for (i = 0; i <= days; i++) {
    //   dates.push(right_start_date.setDate(right_start_date.getDate() + i));
    // };
    // for (j = 0; j <= days; j++) {
    //   let date = dates[j]
    //   if (date > <%#= @surfcamp.discounts.first.discount_starts_at.to_i %> && date < <%#= @surfcamp.discounts.first.discount_ends_at.to_i %>) {
    //       // prix du premier jour = prix discount * nb personne
    //   };
    // };
    // pax_num = document.getElementById("pax_nb").value
  </script>
<% end %>
