<% unless surfcamp.photos[0].blank? %>
    <%= cl_image_tag surfcamp.photos[0].path, width: 280, height: 150, crop: :fill, fetch_format: :auto %>
    <%= link_to "", surfcamp_path(surfcamp), class: "surfcamp-infowindow-link" %>
  <div class="banner-bottom-window">
    <div class="row">
      <div class="col-xs-6">
        <div class="banner-bottom-element">
          <div class="banner-bottom-icons ">
            <% if @surfcamp.weather_desc == ("Sunny" || "Clear") %>
            <%=  image_tag "sun-grey.png"  %>
            <% elsif @surfcamp.weather_desc == ("Light rain shower" || "Patchy rain possible" || "Light rain" || " Moderate or heavy rain shower") %>
            <%=  image_tag "rain-grey.png" %>
            <% elsif @surfcamp.weather_desc == ("Partly cloudy") %>
            <%=  image_tag "partly_cloudy-grey.png"  %>
            <% else @surfcamp.weather_desc == ("Cloudy" || "Overcast") %>
            <%=  image_tag "cloudy-grey.png" %>
            <% end %>
          </div>
            <h5><%= surfcamp.air_temp.to_i %>°C</h5>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="banner-bottom-element">
          <div class="banner-bottom-icons ">
              <%= image_tag "fine-waves.png" %>
          </div>
            <h5><%= surfcamp.water_temp.to_i %>°C</h5>
        </div>
      </div>
    </div>
  </div>
<% end %>
