<%= @all_weathers %>
<div class="main-container">
  <div class="cards-container">
    <div class="row row-no-margin">
      <!-- search box -->
      <div class="col-xs-12">
        <%= form_tag surfcamps_path, method: :get, class: "search-box" do %>
        <!-- first line of search box -->
        <div class="search-box-where">
          <i class="fa fa-search" aria-hidden="true"></i>
          <%= text_field_tag 'address', nil, value: params[:address], placeholder: 'Ex: Lisbonne, Portugal', class: "search-box-input", id: "surfcamp_address" %>
        </div>
        <div class="search-box-waves">
          <div class="search-box-waves-title text-center">
            <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Waves <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
             <div class="collapse" id="collapseExample">
              <div class="search-box-waves-filters">
                <%= label_tag "waves", "waves quality:" %>
                <%= check_box_tag 'wave-good', value = nil, id: "wave_good" %>
                <%= label_tag "wave-good", "good waves" %>
                <%= check_box_tag 'wave-ok', value = 40, id: "wave_ok" %>
                <%= label_tag "wave-ok", "ok waves" %>
              </div>
            </div>
          </div>

        </div>
        <!-- second line of search box -->
        <div class="search-box-budget">
          <i class="fa fa-money" aria-hidden="true"></i>
          <%= text_field_tag 'maxprice', nil, value: params[:maxprice], placeholder: 'Ex: 120€', class: "search-box-input", id: "maxprice" %>
        </div>
      </div>
      <div class="col-xs-12 search-action">
          <div class="result">
            <p><%= pluralize(@surfcamps.size, 'result')%> matching your criterias </p>
            <%= link_to "reset filters", surfcamps_path %>
          </div>
          <div class="button">
            <%= button_tag(content = "Apply Filters", class: "btn btn-primary search-box-font-size") %>
          </div>
          <% end %>
      </div>
      <!-- surfcamps cards -->
      <% @surfcamps.each do |surfcamp| %>
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="surfcamp-card">
            <div class="surfcamp-card-pic">
              <% if surfcamp.photo? %>
                <%= cl_image_tag surfcamp.photo.path, width: 510, height: 350, crop: :lfill, fetch_format: :auto %>
              <% end %>
            </div>
            <div class="surfcamp-card-text">
              <div class="surfcamp-cart-text-price">
                <!-- check if this surfcamp has a discount -->
                <% if surfcamp.discounts.blank? %>
                  <p>From <%= surfcamp.price_per_night_per_person %> € | <%= surfcamp.name %></p>
                <% else %>
                  <p>From <%= surfcamp.discounts.first.discounted_price %> € <strike style="color: grey;"><%= surfcamp.price_per_night_per_person %> €</strike> | <%= surfcamp.name %></p>
                <% end %>
              </div>
              <div class="surfcamp-card-text-stars">
                <% surfcamp.rating.times do %>
                <i class="fa fa-star" aria-hidden="true"></i>
                <% end %>
              </div>
              <!-- div showing the percentage of savings -->
              <% unless surfcamp.discounts.blank? %>
                <div class="surfcamp-card-text-disc">
                  <div class="text">
                    <p> <%= percentage_of_savings(surfcamp) %>% OFF</p>
                  </div>
                </div>
              <% end %>
            </div>
            <%= link_to "", surfcamp_path(surfcamp), class: "surfcamp-card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- map -->
  <div id="map">
  </div>
</div>


<% content_for(:after_js) do %>
  <%#= javascript_tag do %>
  <script>
    $(document).ready(function() {
      var dima = [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#5bbee1"
            },
            {
                "visibility": "on"
            }
        ]
    }
];

      var handler = Gmaps.build('Google');
      handler.buildMap({
      provider: {
        styles: dima
      },
      internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });

document.addEventListener("DOMContentLoaded", function() {
  var flatAddress = document.getElementById('surfcamp_address');

  if (flatAddress) {
    var autocomplete = new google.maps.places.Autocomplete(flatAddress, { types: ['geocode'] });
  }
});


  <%# end %>
  </script>
<% end %>


