<div class="main-container">
  <div class="cards-container">
    <div class="row row-no-margin">
      <!-- search box -->
      <div class="search-box col-xs-12">
        <%= form_tag surfcamps_path, method: :get, class: "search-box-2lines" do %>
          <!-- first line of search box -->
          <div class="search-box-firstline">
            <%= label_tag "where", "where:" %>
            <%= text_field_tag 'address', nil, placeholder: '30 rue de Paradis, Paris, France', class: "search-box-font-size", id: "surfcamp_address" %>
            <%= label_tag "waves", "waves quality:" %>
            <%= check_box_tag 'wave-good', value = nil, id: "wave_good" %>
            <%= label_tag "wave-good", "good waves" %>
            <%= check_box_tag 'wave-ok', value = 40, id: "wave_ok" %>
            <%= label_tag "wave-ok", "ok waves" %>
          </div>
          <!-- second line of search box -->
          <div class="search-box-secondline">
            <%= label_tag "budget", "budget:" %>
            <%= text_field_tag 'maxprice', nil, placeholder: 'your maximum budget', class: "search-box-font-size", id: "maxprice" %>
            <%= check_box_tag 'discount-50', value = 50, id: "discount_50" %>
            <%= label_tag "discount-50", "> 50% discount" %>
            <%= check_box_tag 'discount-40', value = 40, id: "discount_40" %>
            <%= label_tag "discount-30", "> 30% discount" %>
            <%= button_tag(content = "Apply Filters", class: "btn btn-primary search-box-font-size") %>
          </div>
        <% end %>
      </div>
      <!-- surfcamps cards -->
      <% @surfcamps.each do |surfcamp| %>
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="surfcamp-card">
            <div class="surfcamp-card-pic">
              <!-- <img src="https://unsplash.it/250/150" alt=""> -->
              <% if surfcamp.photo? %>
                <%= cl_image_tag surfcamp.photo.path, width: 510, height: 350, crop: :fill, fetch_format: :auto %>
              <% end %>
            </div>
            <div class="surfcamp-card-text">
              <!-- get the min price out of all rooms -->
              <div class="surfcamp-cart-text-price">
                <% if cheapest_room_without_discount(surfcamp).discounts.blank? %>
                  <p>From <%= cheapest_room_without_discount(surfcamp).price_per_night %> € | <%= surfcamp.name %></p>
                <% else %>
                  <p>From <%= cheapest_room_price(surfcamp) %> € | Save <%= cheapest_room_without_discount(surfcamp).discounts.first.discounted_price %> € | <%= surfcamp.name %></p>
                <% end %>
              </div>
              <div class="surfcamp-card-text-stars">
                <% surfcamp.rating.times do %>
                <i class="fa fa-star" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
            <%= link_to "", surfcamp_path(surfcamp), class: "surfcamp-card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- map -->
  <div id="map">
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var dima = [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#5bbee1"
            },
            {
                "visibility": "on"
            }
        ]
    }
];

      var handler = Gmaps.build('Google');
      handler.buildMap({
      provider: {
        styles: dima
      },
      internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
