<div class="banner-show">
  <% @surfcamp.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 1500 , height: 450, crop: :lfill, fetch_format: :auto, class: "banner-surfcamp"%>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="surfcamp-title">
        <h2> <%= @surfcamp.name %></h2>
      </div>
      <div class="show-subcategory">
        <h4> Weather forecast in the next 10 days</h4>
        <%= render 'surfcamps/weather_box' %>
      </div>
      <hr>
      <div class="show-subcategory">
        <h4>Description</h4>
        <p><%= @surfcamp.description %></p>
      </div>
      <hr>
      <div class="show-subcategory">
        <h4> Where to find us ?</h4>
        <%= image_tag "map-location.png", id:"map-location" %>
        <%= @surfcamp.address.capitalize %></p>
      </div>
      <div id="map-show">
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1 booking_square">
      <%= render 'surfcamps/booking_form', errors: @errors, surfcamp: @surfcamp, object: @discount %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.banner-show').slick({
        dots: false,
        arrows: true,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear'
      });
    });
  <% end %>
  <%= javascript_tag do %>
  var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
  handler.buildMap({ internal: { id: 'map-show' } }, function() {
    markers = handler.addMarkers(
      [
        {
          "lat": <%= @surfcamp.latitude.to_s %>,
          "lng": <%= @surfcamp.longitude.to_s  %>,
          "infowindow": '<%= @surfcamp.name %>'
        }]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(7);
  });
  <% end %>
<% end %>
