<div class="banner-show">
  <% @surfcamp.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 1500 , height: 450, crop: :lfill, fetch_format: :auto, class: "banner-surfcamp"%>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="surfcamp-details">
        <h2> <%= @surfcamp.name %></h2>
        <% unless @surfcamp.rating.blank? %>
        <div class="rating">
          <% @surfcamp.rating.to_i.times do  %>
            <i class="fa fa-star" style="color: black"></i>
          <% end %>
          <% (5 - @surfcamp.rating).to_i.times do  %>
            <i class="fa fa-star-o";"></i>
          <% end %>
        </div>
        <% end %>
        <hr>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>
        <%= @surfcamp.address.capitalize %></p>
        <hr>
        <h4>Description</h4>
        <p><%= @surfcamp.description %></p>
      </div>
      <hr>
      <h4>📌 Where to find us ?</h4>
      <div id="map-show">
      </div>
       <!--<h4>Reviews</h4>
      <div class="reviews">
        <p> Reviews to be seeded !</p>
      </div> -->

    </div>

    <div class="col-md-4 col-md-offset-1 booking_square">
      <%# unless @pimped_car.promo.blank? %>
      <%= render 'surfcamps/booking_form', errors: @errors, surfcamp: @surfcamp, object: @discount %>
      <%#end %>
    </div>
   </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.banner-show').slick({
        dots: false,
        arrows: true,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear'
      });
    });
  <% end %>
  <%= javascript_tag do %>
  var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
  handler.buildMap({ internal: { id: 'map-show' } }, function() {
    markers = handler.addMarkers(
      [
        {
          "lat": <%= @surfcamp.latitude.to_s %>,
          "lng": <%= @surfcamp.longitude.to_s  %>,
          "infowindow": '<%= @surfcamp.name %>'
        }]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(7);
  });
  <% end %>
<% end %>
