<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 booking-confirmation">
      <div class="booking-confirmation-title">
        <h2>Thank you for your reservation!</h2>
      </div>
      <div class="booking-confirmation-details">
        <div class="card">
          <div class="card-title">
            <h3>Booking confirmation</h3>
          </div>
          <div class="card-image">
            <% unless @surfcamp.photos[0].blank? %>
            <%= cl_image_tag @surfcamp.photos[0].path, width: 445, height: 220, crop: :fill %>
            <% end %>
          </div>
          <div class="card-booking-details">
            <div class="card-booking-details-address">
              <p><strong>Address</strong> <%= @surfcamp.address %></p>
              <p><strong>From</strong> <%= @booking.starts_at.strftime("%A, %b %d") %></p>
              <p><strong>To</strong> <%= @booking.ends_at.strftime("%A, %b %d") %></p>
            </div>
            <div class="card-booking-details-price">
              <p class="price-paid"><%= @booking.total_discounted_price %>€</p>
              <p class="original-price"><%= @booking.total_original_price %>€</p>
            </div>
          </div>
        </div>
        <% pourcentage = ((1 - @booking.total_discounted_price.to_f / @booking.total_original_price.to_f) * 100).to_i  %>
        <% unless pourcentage == 0 %>
          <div class="card-booking-details-discount">
            <div class="text">
                <p> <%= pourcentage %>% OFF</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <!--   testing to get the flight info from google flight api -->
      <div class="flight-container">
        <div class="flight-date">Fly on the: <%= @flight_date %></div>
        <div class="flight-infos">
          <div class="flight-number verticalLineRight">Flight Number</div>
          <div class="flight-departure">
            <div class="flight-departure-time">10:00</div>
            <div class="flight-departure-airport">CDG</div>
          </div>
          <div class="flight-duration"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  2h15  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
          <div class="flight-arrival">
            <div class="flight-arrival-time">15:20</div>
            <div class="flight-arrival-airport">AGA</div>
          </div>
          <div class="flight-price">Flight price</div>
          <div class="flight-button">
            <button type="button" class="btn btn-primary">Select <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
