<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 booking-confirmation">
      <div class="booking-confirmation-title">
        <h2>Thank you for your reservation! </h2>
      </div>
      <div class="booking-confirmation-details">
        <div class="card">
          <div class="card-title">
            <h3>Booking confirmation</h3>
          </div>
          <div class="card-image">
            <% unless @surfcamp.photos[0].blank? %>
            <%= cl_image_tag @surfcamp.photos[0].path, width: 445, height: 220, crop: :fill %>
            <% end %>
          </div>
          <div class="card-booking-details">
            <div class="card-booking-details-address">
              <p><strong>Address</strong> <%= @surfcamp.address %></p>
              <p><strong>From</strong> <%= @booking.starts_at.strftime("%A, %b %d") %></p>
              <p><strong>To</strong> <%= @booking.ends_at.strftime("%A, %b %d") %></p>
              <p>Status : <%= @booking.status %></p>
            </div>
            <div class="card-booking-details-price">
              <p class="price-paid"><%= @booking.total_discounted_price %>€</p>
              <p class="original-price"><%= @booking.total_original_price %>€</p>
            </div>
          </div>
        </div>
        <% pourcentage = ((1 - @booking.total_discounted_price.to_f / @booking.total_original_price.to_f) * 100).to_i  %>
        <% unless pourcentage == 0 %>
          <div class="card-booking-details-discount">
            <div class="text">
                <p> <%= pourcentage %>% OFF</p>
            </div>
          </div>
        <% end %>
      <div class="stripe">
        <%= form_tag booking_payments_path(@booking) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="<%= @surfcamp.name %>"
            data-email="<%= current_user.email %>"
            data-description=" <%= @booking.starts_at.strftime("%d/%m/%Y") %>-<%= @booking.ends_at.strftime("%d/%m/%Y") %>"
            data-amount="<%= (@booking.total_discounted_price * 100).to_i %>"
            data-currency="EUR"> <%#= @booking.total_discounted_price.currency if we decide to monetize booking model%>
          </script>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>


