<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 booking-confirmation">
      <div class="booking-confirmation-title">
        <h2>Thank you for your reservation!</h2>
      </div>
      <div class="booking-confirmation-details">
        <div class="card">
          <div class="card-title">
            <h3>Booking confirmation</h3>
          </div>
          <div class="card-image">
            <% if @surfcamp.photo? %>
            <%= cl_image_tag @surfcamp.photo.path, width: 445, height: 220, crop: :fill %>
            <% end %>
          </div>
          <div class="card-booking-details">
            <div class="card-booking-details-address">
              <p><strong>Address</strong> <%= @surfcamp.address %></p>
              <p><strong>From</strong> <%= @booking.starts_at.strftime("%A, %b %d") %></p>
              <p><strong>To</strong> <%= @booking.ends_at.strftime("%A, %b %d") %></p>
            </div>
            <div class="card-booking-details-price">
              <p class="original-price"><%= original_price %>€</p>
              <p class="price-paid"><%= price_paid %>€</p>
            </div>
          </div>
        </div>
        <div class="card-booking-details-discount">
          <div class="text">
            <p><%= ((1 - price_paid.to_f / original_price.to_f) * 100).to_i %>% OFF</p>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>
