<% content_for(:navbar_class, "navbar_home") %>
<div class="banner-wrapper">
  <div class="banner">
    <video id="video" autoplay loop id="video-background" muted width="100%">
      <source src="http://res.cloudinary.com/dlnmbo3ol/video/upload/v1504015579/S%C3%A9quence_01_4_cibxv6.mp4" type="video/mp4">
    </video>
    <div class="col-md-12 banner-content">
      <div>
        <h3>Last minute booking for surfcamps</h3>
      </div>
      <div class="main-CTA">
        <%= link_to image_tag("Main_CTA.svg"), surfcamps_path %>
      </div>
    </div>
  </div>
</div>
<div class="home-card-container">
  <h3>Our best deals</h3>
  <div class="wrapper pola-wrapper">
    <div class="row">
      <% @surfcamps.each do |surfcamp| %>
        <% unless surfcamp.photos[0].blank? %>
        <div class="col-xs-12 col-sm-3">
          <div class="surfcamp-card-home">
            <div class="surfcamp-card-text-discount">
              <p> <%= percentage_of_savings(surfcamp) %>% OFF *</p>
            </div>
            <%= link_to cl_image_tag(surfcamp.photos[0].path, width: 510, height: 350, crop: :lfill, fetch_format: :auto), surfcamp_path(surfcamp) %>
            <div class="surfcamp-card-text-description">
                <div class="surfcamp-card-s-name">
                  <p><%= surfcamp.name %></p>
                </div>
                <div class="surfcamp-card-text">
                <div class="surfcamp-card-text-price">
                 <% if surfcamp.discounts.blank? %>
                    <p><%= surfcamp.price_per_night_per_person %>€</p>
                  <% else %>
                    <p><%= surfcamp.discounts.first.discounted_price %>€</p><p class="promo-text"><%= surfcamp.price_per_night_per_person %>€</p>
                 <% end %>
                </div>
              </div>
            </div>
            <div class="surfcamp-card-price-information">
              <div class="surfcamp-card-text-discount-date">
                <p><strong>* From</strong> <%= surfcamp.discounts.first.discount_starts_at.strftime("%d %b") %> </p>
                <p><strong>To</strong> <%= surfcamp.discounts.first.discount_ends_at.strftime("%d %b") %></p>
              </div>
            </div>
            <%= link_to "", surfcamp_path(surfcamp), class: "surfcamp-card-link" %>
          </div>
        </div>
      <% end %>
    <% end %>
      <!-- <div class="surfcamp-card-text">
        <div class="surfcamp-cart-text-price">
          <div class="surfcamp-card-text-disc">
            <div class="text">
              <p> <%#= percentage_of_savings(surfcamp) %>% OFF</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
</div>
