<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 booking-confirmation">
      <div class="booking-confirmation-title">
        <h2> Your spot is booked at <%= @surfcamp.name %> !  </h2>
      </div>
      <div class="booking-confirmation-details">
        <div class="card">
          <div class="card-title">
            <h3>Booking confirmation</h3>
          </div>
          <div class="card-image text-center">
            <% unless @surfcamp.photos[0].blank? %>
            <%= cl_image_tag @surfcamp.photos[0].path, width: 445, height: 220, crop: :fill %>
            <%#= image_tag "giphy-surf.gif", id: "thanks-surf" %>
            <% end %>
          </div>
          <div class="card-booking-details">
            <div class="card-booking-details-address">
             <div class="row">
              <div class="col-xs-6"><p><strong>From </strong> <%= @booking.starts_at.strftime("%A, %b %d") %></p></div>
              <div class="col-xs-6"><p><strong>To </strong><%= @booking.ends_at.strftime("%A, %b %d") %> </p></div>
            </div>
            <br>
              <p> <strong><i class="fa fa-location-arrow" aria-hidden="true"></i> </strong><%= @surfcamp.address %> </p>
            </div>
            <div class="card-booking-details-price">
              <p class="price-paid"><%= @booking.total_discounted_price %>€</p>
              <% unless @booking.total_discounted_price = @booking.total_original_price %>
                <p class="original-price"><%= @booking.total_original_price %>€</p>
              <% end %>
            </div>
          </div>
        </div>
        <% pourcentage = ((1 - @booking.total_discounted_price.to_f / @booking.total_original_price.to_f) * 100).to_i  %>
        <% unless pourcentage == 0 %>
          <div class="card-booking-details-discount">
            <div class="text">
                <p> <%= pourcentage %>% OFF</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 flight-selection">
      <div class="flight-selection-title">
        <h2>Book your flight</h2>
      </div>
      <!--   asking for departure city -->
      <div class="flight-selection-details">
        <%= form_tag booking_payment_thanks_path(@booking), method: :get, class: "info-for-flight" do %>
          <div class="info-for-departure">
            <h3>From which city will you be departing?</h3>
            <div class="flying-from text-center">(You are flying to Lisbon)</div>
            <div class="radio-buttons text-center">
              <%= label_tag nil, nil, class: 'radio-inline' do %>
                <%= radio_button_tag 'inlineRadioOptions', 'PAR' %>
                Paris
              <% end %>
              <%= label_tag nil, nil, class: 'radio-inline' do %>
                <%= radio_button_tag 'inlineRadioOptions', 'LON' %>
                London
              <% end %>
              <%= label_tag nil, nil, class: 'radio-inline' do %>
                <%= radio_button_tag 'inlineRadioOptions', 'BER' %>
                Berlin
              <% end %>
            </div>
          </div>
          <div class="text-center">
            <%= button_tag(content = "Check Flights", class: "btn btn-primary") %>
          </div>
        <% end %>
      </div>
      <!--   displaying several departure flight -->
      <% if @departure_city %>
        <div class="flight-date">You will be 🛫 on the: <%= @flight_date %></div>
        <% @flights.each do |flight_hash| %>
          <div class="flight-container">
            <div class="flight-infos">
              <div class="flight-number verticalLineRight"><%= flight_hash["flight_number"] %></div>
              <div class="flight-departure">
                <div class="flight-departure-time"><%= flight_hash["flight_departure_time"] %></div>
                <div class="flight-departure-airport"><%= flight_hash["flight_departure_airport"] %></div>
              </div>
              <div class="flight-duration"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>  <%= flight_hash["flight_duration"] %>  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
              <div class="flight-arrival">
                <div class="flight-arrival-time"><%= flight_hash["flight_arrival_time"] %></div>
                <div class="flight-arrival-airport"><%= flight_hash["flight_arrival_airport"] %></div>
              </div>
              <div class="flight-price"><%= flight_hash["flight_price"]  %></div>
              <div class="flight-button">
                <button type="button" class="btn btn-primary">Select <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        <% end %>
        <!--   end of flight div -->
      <% end %>
    </div>
  </div>
</div>


